.panel-container {
  background-color: #f9fafb;
  min-height: 100vh;
}

.panel-tabs {
  display: flex;
  justify-content: center;
  background: #f1f2f4;
  border-radius: 30px;
  margin: 20px auto;
  width: 70%;
  padding: 5px;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: #444;
  font-weight: 500;
  border-radius: 20px;
  transition: background 0.3s, color 0.3s;
}

.tab:hover {
  background: #e0e0e0;
}

.active {
  background: white;
  color: black;
  font-weight: 600;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.panel-content {
max-width: 1400px;
  margin: 0 auto;
  background: #f9fafb;
  padding: 2rem;
  border-radius: 0.5rem;
}